body {
  margin: 0;
} 

#app {
  display: flex;
}

.nav-bar {
  background: linear-gradient(-90deg, #84CF6A, #16C0B0);
  height: 60px;
  margin-bottom: 15px;
}

.product-image {
  max-width: 300px;
  width: 100%;
  border: 1px solid green;
}
